* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    overflow-x: hidden;
}

:root {
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --vark-blue: hsl(220, 13%, 13%);
    --greyish-blue: hsl(220, 14%, 75%);
    --light-greyish-blue: hsl(223, 64%, 98%);
    --box-black: rgba(0 0 0 / .75);
    --transition-delay: 250ms;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
.no-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: thin;  /* Firefox */
}
.no-scrollbar::-webkit-scrollbar { 
    height: 4px !important;  /* Safari and Chrome */

}